body{
    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;
    padding:0px;
    margin:0px;
    max-width: 100vw;
    overflow-x: hidden;
}

.app{
    padding:0px;
    margin:0px;
    max-width: 100vw;
    overflow-x: hidden;
}


/* LAYOUT */
.flex{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;

}

.wrap    { 
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.container{
    margin:0px;
    width:100%;
    text-align: center;
    background-color: #eeeeee;
    padding:50px 0 50px 0;
    display: flex;
    border-bottom:1px solid #cdcdcd;
}

.title{
    flex:2;
}

.title p{
    font-size:20px;
}

.download-section{
    height:160px;
    width: 100%;
    text-align: center;
    margin:20px 0 0 0;
    flex:1;
}

.portfolio{
    height:100%;
    padding:0 0 20px 0;
}

/* TABLE */

.table{
    margin:0px;
    width: 100vw;
    position: relative;
}

.table > div {
    background-color: #ffffff;
    padding: 50px 50px 20px 50px;
    flex:1;
}

.skill-table .col > div > h3{
    font-weight: bold;
}

.skill-table{
    width:calc(100% - 100px);
    padding:0px;
    margin:0px;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.skill-table > .col{
    position: relative;
    width:50%;
}

.skillContainerRight{
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.col > div{
    height:70px;
    position: relative;
    flex:1;
    border: 1px solid #eeeeee;
}

.col > div > *{
    /* VERTICAL CENTER */
    margin: 0;
    position: absolute;
    top: 50%;
    width: 90%;
    padding-left: 5%;
    text-align: center;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}   

.skill-table .col div:nth-child(odd) {
    background: #eee; flex:1
}

.skill-table .col div:nth-child(even) {
    background: #FFF; flex:1
}

.skill-table .col div:first-child {
    background: #222222;
    color:#ffffff;
}

.skill-table .col{
    border:none;
    /* outline: 1px solid #eeeeee; */
}

/* TEXT */

h1,h2,h3,h4,h5,p{
    font-weight: 200;
}

h1{
    letter-spacing: 5px;
    font-size: 8rem;
    margin:0px;
}

.text-white{
    color:#ffffff;
}

.text-stroke{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000000;
}


/* BUTTONS */

.download {
    height: 100px;
    /* line-height: 100px; */
    width:100px;
    display: inline-block;
    border-radius: 10%;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
    color: #444444;
    background-color: #ffffff;
    transition: all .3s ease-out;
    text-align: center;
    padding:20px 20px 20px 20px;
    cursor: pointer;
}

.download:hover{
    text-decoration: none;
    box-shadow: 0 4px 10px 0px rgba(0,0,0,0.2);
}

.download > p{
    margin:0;
    margin-top:30%;
    padding:0;
}
.linkedIn{
    -ms-flex-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0px;
    margin: 0px;
    gap: 10px;
}
.linkedIn a{
    text-decoration: none;
    color: #222222;
    padding:0px;
    margin: 0px;
}
.linkedIn a *{
    padding:0px;
    margin: 0px;
}

.footer{
    background-color: #eeeeee;
    padding: 5px;
    -ms-flex-align: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer a{
    text-decoration: none;
    color: #222222;
}

.bg-secondary{
    background:#ffffff;
}

/* MEDIA */

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .skill-table > .col{
        width:100%;
        margin-bottom:50px;
    }

    h1{
        font-size:4rem;
    }
    .heading_port{
        font-size:3rem;
    }

    .title p{
        font-size:10px;
    }

}

@media only screen and (max-width: 700px) {

    .linkedIn > div {
        width: 50vw;
    }

    iframe{
        display: none;
    }

    .container{
        flex-direction: column;
    }
}

@media only screen and (max-width: 500px) {
    h1{
        font-size:4rem;
    }
    .heading_port{
        font-size:3rem;
    }

    iframe{
        display: none;
    }

    .container{
        flex-direction: column;
    }
  }
