.cookie-policy-container{
    width:30vw;
    background-color: #fff;
    position:fixed;
    bottom:1vw;
    right:1vw;
    padding:20px;
    font-size:80%;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);
box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);

opacity: 0.85;
}

.cookie-policy-container a{
    color:#007acc;
}

@media screen and (max-width: 1024px) {
    .cookie-policy-container{
        width:80vw;
        right:10vw;
        bottom:1vw;
    }
}

.cookie-policy-container > .close{
    position:absolute;
    top:5px;
    right:10px;
    cursor: pointer;
}

.read-more-cookie{
    display:none;
}

.btn{
    cursor: pointer;
}

td p{
    font-size:10px;
}

tr, td{
    border:1px solid #cccccc;
}