body {
    padding-top: 100px;
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 100vh;
  }

  h1, h2, .h1, .h2, .btn, .btn-lg, .nav-link{
    font-family: 'Anton', sans-serif;
    font-weight: 100;
  }

  .cookie-policy-container{
    z-index:30000;
  }
  
  .autoSave {
    z-index: 20000;
    color:#000000;
    text-align: center;
    position: fixed;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -100px;
    width:200px;
    height:80px;
    opacity: 0.7;
    padding: 20px;
    background-color: #FFB83E;
    display:none;
  }

  .text-grey{
      color:#6E739A!important;
      font-size: 18px;
  }

  .btn-lg{
      border-radius: 4px;
  }

  .active{
      color:#FFB83E!important;
  }

  img.grey-over {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 5s ease;
  }
 
  img.grey-over:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
  }

  .navbar .container{
    margin-left:100px;
  }

  #navbarResponsive{
    right: 100px;
    position: absolute;
  }

  .navbar{
    width:100vw;
  }

  .card-body *{
    font-size:80%;
  }

  .cheatsheet{
    min-height:230px!important;
    
  }

  .tools{
    min-height:180px;
    background-color: rgba(238, 238, 238, 0.45);
  }

  .process{
    min-height:260px;
  }

/* (991px and down) */
@media (max-width: 991px) {
  body {
    padding-top: 90px;
  }
  #navbarResponsive{
    left: 0px;
    position: relative;
  }
}

/* (768px and down) */
@media (max-width: 768px) {
  .btn-xl {
    padding: 0.2rem 0.5rem;
    font-size: 0.9rem;
  }
}