.track-progress {
  margin: 0;
  padding: 10px 10px 0 10px;
  background: white;
  height: 80px;
  border-radius: 10px;
  -moz-box-shadow: 0 4px 6px -5px black;
  -webkit-box-shadow: 0 4px 6px -5px black;
  box-shadow: 0 4px 6px -5px black;
  width:100%;
}
.track-progress li {
  list-style-type: none;
  display: inline-block;
  position: relative;
  font: 12px/12px Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #bbb;
  border-bottom: 4px #FF5E73 solid;
  line-height: 3em;
  width: 25%;
  float: left;
}
.track-progress li:after {
  content: "\00a0\00a0";
  /*non-breaking space */
}
.track-progress li:before {
  position: relative;
  bottom: -2.5em;
  float: left;
  left: 50%;
  line-height: 1em;
}
@media (max-width: 800px) {
  .track-progress li {
    font-size: 0.7em;
  }
}
.track-progress li span {
  /* padding-left: 0.75em; */
}

.track-progress li.done {
  color: #171E5A;
  font-weight: bold;
  border-bottom: 4px #00adef solid;
}
.track-progress li.done:before {
  content: "\2713";
  background: #00adef;
  padding:1px;
  color:#ffffff;
  height: 1.3em;
  width: 1.8em;
  line-height: 1.2em;
  border: none;
  border-radius: 1.2em;
}
.track-progress li.todo:before {
  content: "";
  background: white;
  border: 0.25em solid #FF5E73;
  height: 1.3em;
  width: 1.8em;
  border-radius: 0.8em;
}
.track-progress em {
  display: none;
  font-weight: 700;
  padding-left: 0.75em;
}
@media (max-width: 767px) {
  .track-progress em {
    display: inline;
  }
  .track-progress li span {
    display: none;
  }
}

.track-progress p {
  margin: 0 auto;
  /* max-width: 500px; */
  width: 75%;
  margin-top: 25px;
  font: 18px/28px 'Open Sans',sans-serif;
  color: #eee;
}
.track-progress p em {
  display: block;
  font-size: 23px;
  font-weight: 700;
  font-style: normal;
  color: white;
}
